<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 1200
    })
  });
</script>
<div class='row'>
	<div class='col-lg-2'></div>
	<div class='col-lg-8'>
		<center>
		<div collapse='isButtonCollapsed'>
			<button class="btn btn-default btn-lg" ng-click="isButtonCollapsed = !isButtonCollapsed; isCollapsed = !isCollapsed">Support Bilal Ayyub!</button>
		</div>
		<div collapse="isCollapsed">
			<h4>Please fill out the following information. Only your name and city will be displayed:</h4>
			<div class='row'>
				<div class='col-lg-4'>
				<form class='form-inline'>
			  	<label for="nameInput">Name</label>
			  	<input type="text" id='nameInput' class='form-control form-padding' ng-model="newPerson.name" placeholder="Name" />
			  	<label for="affiliationInput">Affiliation</label>
				  <input type="text" id='affiliationInput' class='form-control form-padding' ng-model="newPerson.affiliation" placeholder="Affiliation" />
			  </form>
			  </div>
			  <div class='col-lg-4'>
			  <form class='form-inline'>
			  	<label for="cityInput">City</label>
			  	<input type="text" id='cityInput' class='form-control form-padding' ng-model="newPerson.city" placeholder="City" />
			  	<label for="phoneInput">Phone</label>
				  <input type="text" id='phoneInput' class='form-control form-padding' ng-model="newPerson.phone" placeholder="Phone Number" />
				</form>
				</div>
				<div class='col-lg-4'>
				<form class='form-inline'>
					<label for="stateInput">State</label>
			  	<input type="text" id='stateInput' class='form-control form-padding' ng-model="newPerson.state" placeholder="State" />
				  <label for="emailInput">Email</label>
				  <input type="text" id='emailInput' class='form-control form-padding' ng-model="newPerson.email" placeholder="Email" />
				</form>
				</div>
			</div>
			<button class='btn btn-warning btn-lg form-padding' ng-click="addPerson(); isCollapsed = !isCollapsed; showThankYou = true">Submit Support</button>
		</div>
		<div ng-show='showThankYou'><h1>Thank You For Your Support!</h1></div>
		<hr>
		</center>
	  <br/>
	  <h3>Bilal Ayyub's Supporters</h3>
	  <div style='color: #FFFFFF'>{{currentDate}}</div>
	  <table class='table table-striped'>
	    <thead>
	      <th>Name</th><th>City</th><th>Date</th>
	    </thead>
	    <tr ng-repeat="person in filteredPeople = (people) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit"><td>{{person.name}}</td><td>{{person.city}}, {{person.state}}</td><td>{{person.date}}</td></tr>
	  </table>
	  <div pagination data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" max-size="maxSize" class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></div>
	</div>
	<div class='col-lg-2'></div>
</div>