<div class='row header'>
	<div class='col-lg-1'></div>
	<div class='col-lg-10'>
		<div class='header'>
			<div class='header jumbotron'><h1><a style='color: white' href='#/support-bilal-ayyub'>Support Bilal Ayyub</a></h1></div>
		</div>
	</div>
	<div class='col-lg-1'></div>
</div>
<div class='row navbar navbar-header'>
	<div class='col-lg-2'></div>
	<div class='col-lg-8'>
		<ul class="nav navbar-nav navbar-nav-header">
			<li><a href="#/bilal-ayyub-home">Home</a></li>
		  <li><a href="#/bilal-ayyub-biography">About Bilal</a></li>
		  <li><a href="#/support-bilal-ayyub">Support</a></li>
		  <li><a href='#/latest-news-about-bilal'>Latest News</a></li>
		  <li><a href='#/resources'>Resources</a></li>
		  <li><a href='#/contact-bilal'>Contact</a></li>
		</ul>
	</div>
	<div class='col-lg-2'></div>
</div>
<div style='padding-bottom: 5em' ng-view></div>
<div class='navbar navbar-fixed-bottom footer'></div>